body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.player:hover {
  transform: translateY(-5px);
  transition: 0.3 ease;
}

.player {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  width: 350px;
  max-width: 90%;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  color: white;
}

.img-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img-sec img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.img-sec.playing {
  animation: pulse 2s infinite;
  box-shadow: 0 0 40px rgba(0, 198, 167, 0.6);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.content p {
  margin: 3px;
}

.song-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 24px;
  margin-top: 3px;
  font-weight: 500;
}

.artist {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
  color: white;
}

.bar-cont {
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);
  margin: 15px auto;
  border-radius: 5px;
  cursor: pointer;
}

.bar {
  height: 100%;
  width: 0%;
  background: #00c6a7;
  border-radius: 5px;
  transition: width 0.1 linear;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.controls button {
  opacity: 0.7;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  transition: 0.2s ease;
}

#prev {
  width: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.controls button:hover {
  opacity: 1;
  transform: scale(1.2);
}

#next {
  width: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

#playPause {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: #00c6a7;
  color: #0f2027;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 198, 167, 0.4);
}

#playPause:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

#playPause svg {
  width: 30px;
  height: 30px;
}

#prev svg {
  width: 25px;
  height: 30px;
}

#next svg {
  width: 25px;
  height: 30px;
}

#prev,
#next {
  transition:
    transform 0.1s ease,
    opacity 0.1s ease;
}

#prev:active,
#next:active {
  transform: scale(0.9);
  opacity: 0.7;
}

.pause-icon {
  display: none;
}

#playPause.playing .play-icon {
  display: none;
}

#playPause.playing .pause-icon {
  display: block;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 6px;
  color: white;
}

@media (max-width: 480px) {
  .player {
    width: 95%;
    padding: 20px;
  }

  .img-sec {
    width: 180px;
    height: 180px;
  }

  .song-name {
    font-size: 20px;
  }

  #playPause {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}
